/* ********* */
/* @RESET */
/* ********* */

*,figcaption,h1{
    font-family: "Futura ND Medium";
    text-transform: uppercase;
    letter-spacing: 4px;
    color: grey;
    margin: 0;
    padding: 0;
}